<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>bluetooth-le</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Preciso acessar sua localização</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Preciso acessar sua localização</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Preciso acessar sua localização</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Preciso acessar suas fotos</string>
	<key>NSCameraUsageDescription</key>
	<string>Preciso acessar sua câmera</string>
	<key>NSContactsUsageDescription</key>
	<string>Preciso ler seus contatos</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
